<h1>
  dks-number-input demo
</h1>

<div>
  <h4>
    Large dks-number-input
  </h4>
  step = 0.5 
  <dks-number-input>
    <input id="btn1" type="number" [(ngModel)]="largeInputVariable" step="0.5"/>    
  </dks-number-input>
</div>

<div>
  <h4>
    simple dks-number-input
  </h4>
  step = 1
  <dks-number-input>
      <input id="btn2" type="number" [(ngModel)]="simpleInputVariable" step="1"/>    
    </dks-number-input>
</div>

<div>
  <h4>
    disabled dks-number-input
  </h4>
  <dks-number-input>
    <input id="btn3" type="number" [(ngModel)]="disabledInputVariable" disabled/>    
  </dks-number-input>
</div>

<div>
  <h4>
    classic number input
  </h4>
  <input type="number" [(ngModel)]="classicInputVariable"/>
</div>