/* You can add global styles to this file, and also import other style files */

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #111111;
}

h1 {
	text-align: center;
}


h1, h4 {
 color: #444444;
}

#custom-input input {
	height: 34px;
}

#custom-input .dks-arrow {
	color: #004caf;
	border-width: 7px;
	margin-right: 8px;
}

#custom-input .dks-arrow:hover {
	color: #a2f7e1;
}
