/* You can add global styles to this file, and also import other style files */

body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #111111;
}

h1 {
	text-align: center;
}


h1, h4 {
 color: #444444;
}