<span #inputContainer class="dks-input-container">

	<ng-content></ng-content>
	
	<span class="dks-arrows-container">
    	<span class="dks-single-arrow-container">
			<span class="dks-arrow dks-arrow-up" [ngClass]="{'disabled': isDisabled()}" style="border-top: none" (click)="stepUp()"></span>
		</span>
		<span class="dks-single-arrow-container">
			<span class="dks-arrow dks-arrow-down" [ngClass]="{'disabled': isDisabled()}" style="border-bottom: none" (click)="stepDown()"></span>
		</span>
    </span>

</span>