$arrow-color: #666666;
$arrow-color-hover: #13026d;
$arrow-color-disabled: #aaaaaa;
$arrow-width: 10px;
$arrow-height: 6px;

.dks-input-container {
	position: relative;
	display: inline-flex;
	
	input[type=number] { 
		min-height: 23px;
		margin: 0; 
		-webkit-appearance: textfield;
		-moz-appearance: textfield;
		appearance: textfield;
		
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
		}
	}
}

.dks-arrows-container {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}

.dks-single-arrow-container {
	display: flex;
	height: 50%;
	align-items: center;
}
	
.dks-arrow {
	width: 0;
	height: 0;
	padding: 0 !important;
	margin-right: 12px;
	border-left: $arrow-width*0.5 solid transparent; 
	border-right: $arrow-width*0.5 solid transparent;
	border-bottom: $arrow-height solid currentColor;
	border-top: $arrow-height solid currentColor;
	color: $arrow-color;
	cursor: pointer;
}

.dks-arrow:hover {
	color: $arrow-color-hover
}

.dks-arrow.disabled, .dks-arrow.disabled:hover {
	cursor: default;
	color: $arrow-color-disabled;
}
